.Chat
  .RightHeader
    .RightHeader__group
      .RightHeader__groupName
        Maiyan
      %ul.RightHeader__memberList
        Member :
        %li.RightHeader__Member
          maiyan
    = link_to "#", class: "RightHeader__editBtn" do
      Edit
  .MessageField
    .MessageBox
      .MessageInfo
        .MessageInfo__member
          maiyan
        .MessageInfo__date
          2020年7月17日
      .Message
        %p.Message__content
          乃木坂
  .Footer
    %form.Form
      .Form__contents
        %input.Form__inputContents{type: "text",  placeholder: "type a message"}
        %label.Form__inputImage
          =icon("far", "image")
          %input.Hidden{type: "file"}
      %input.Form__submit{type: "submit", value: "Send"}